{% assign resumedownload = site.data.data.sidebar.resumedownload %}
{% if resumedownload %}
<div class="interests-container container-block">

  <h2 class="container-block-title">
    <span class="fa-stack fa-xs">
      <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fas fa-download fa-stack-1x fa-inverse"></i>
    </span>
    Download
  </h2>

  <ul class="list-unstyled interests-list">
    {% for resumedownloads in resumedownload %}

      {% if resumedownloads.link %}
      <li><a href="{{ resumedownloads.link }}">{{ resumedownloads.item }}</a></li>
      {% else %}
      <li>{{ resumedownloads.item }}</li>
      {% endif %}

    {% endfor %}
  </ul>

</div><!--//resumedownload-->
{% endif %}
